/* Config. Globais */
:root {
  --black: #212121;
  --white: #ffffff;
  --header-color: #efd9d6;
  --moldura-color: #e1cccd;
  --bg-color: #fcfcfc;
  --font-geral: "Shadows Into Light", sans-serif;
  --font-form: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Shadows Into Light", cursive;
  background-image: url(https://image.freepik.com/fotos-gratis/fundo-de-textura-de-marmore-rosa-textura-de-marmore-abstrata_41389-305.jpg);
  height: 100%;
  overflow-x: hidden;
}

.geral {
  width: 900px;
  min-height: 100%;
  position: absolute;
}

/* Configurações do header */
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 15vh;
  z-index: 1;
}

header h1 {
  font-size: 700;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

header img {
  margin: auto;
  height: 15vh;
}

h5 {
  font-size: medium;
  color: #ffffff;
  text-shadow: black 0.1em 0.1em 0.2em;
}
iframe {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

main .container {
  display: grid;
  grid-template-areas: "carrossel texto";
  grid-template-columns: 60% 40%;
}

.carrossel {
  grid-area: carrossel;
}

.text-box {
  grid-area: texto;
}

footer img {
  width: 100vw;
}

@media (max-width: 768px) {
  /* For mobile phones: */
  .geral {
    width: 100%;
  }
}
